body {
	background-color: #eeeeee;
	font-family: Arial, sans-serif;
	line-height: 1.5em;
	color: #667;
	text-align: center;
	text-shadow: 1px 1px #ffffff;
	padding: 40px;
}

h1 {
	font-size: 2.0em;
	color: #333333;
	text-transform: uppercase;
}

p {
	margin-bottom: 1.5em;
}

img {
	border: 10px solid #ffffff;
	box-shadow: 4px 4px 4px #ddd;
}